{% load static %}
<html>

<head>
    <title>Footer</title>
    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%static 'css/icofont.min.css' %}" rel="stylesheet">
    <link href="{%static 'css/mystylesheet.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <style>
        .f-ul {
            list-style-type: none
        }
        
        .f-li {
            float: left;
            margin: 5px
        }
        
        .f-ul .f-li a {
            display: block;
            background: #B28FAD;
            color: white;
            padding: 5px;
            border-radius: 10%;
        }
        
        .is:hover {
            transform: scale(1.2)
        }
    </style>
</head>

<body>
    <div class="container-fluid p-5" style="background-color: black; color: white ;">
        <div class="row">
            <div class="col-md-2">
                <h3>Cancer Care</h3>
                <p>This website is about Cancer. You can understand what is cancer and what are types and symptoms of cancer.</p>
            </div>

            <div class="col-md-2">
                <h3>Quick Links</h3>
                <i class="icofont-long-arrow-right me-2"></i><a href="..." style="color: white">About Us</a><br/>
                <i class="icofont-long-arrow-right me-2"></i><a href="contactus.html" style="color: white">Contact Us</a><br/>
                <i class="icofont-long-arrow-right me-2"></i><a href="..." style="color: white">Blog</a><br/>
                <i class="icofont-long-arrow-right me-2"></i><a href="..." style="color: white">Contact Us</a><br/>
            </div>

            <div class="col-md-2  " style="text-align: center;">
                <h3>Follow Us</h3>
                <div class="row">
                    <div class="col-md-4 p-2" style="background-color: #08a0e9;">
                        <h4>5K</h4>
                        <p style="font-size:14px">Followers</p>
                    </div>
                    <div class="col-md-4 p-2" style="background-color: #DD2A7B;">
                        <h4>5K</h4>
                        <p style="font-size:14px">Followers</p>
                    </div>
                    <div class="col-md-4 p-2" style="background-color:#3B5998">
                        <h4>5K</h4>
                        <p style="font-size:14px">Followers</p>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-4 pt-2 pb-2 is" style="background-color: #08a0e9;">
                        <i class="icofont-twitter "></i>
                    </div>
                    <div class="col-md-4 pt-2 pb-2 is" style="background-color: #DD2A7B">
                        <i class="icofont-instagram "></i>
                    </div>
                    <div class="col-md-4 pt-2 pb-2 is" style="background-color:#3B5998">
                        <i class="icofont-facebook"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group pb-3 pt-2">
                            <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username">
                            <button class="btn btn-outline-secondary" type="button">Subscribe</button>
                        </div>
                    </div>
                </div>

                <!--<div class="row pt-2">
            <div class="col-md-8">
                <input class="form-control ii" placeholder="Email"> 
                </div>
            <div class="col-md-4">    
                <button class="bg-dark text-light">Subscribe</button>
                </div>
            </div> -->
            </div>
            <!--
        <h3 >Follow Us</h3>
            <i class="icofont-facebook ms-2  border rounded rounded-circle p-2  i-hover"></i><br/><br/>
            <i class="icofont-instagram ms-2  border rounded rounded-circle p-2  i-hover"></i><br/><br/>
            <i class="icofont-twitter ms-2  border rounded rounded-circle p-2  i-hover"></i>
        </div>
        -->
            <div class="col-md-3">
                <h3 class="me-5">Services</h3>
                <ul class="f-ul">
                    <li class="f-li"><a>Facts</a></li>
                    <li class="f-li"><a>Submit Report</a></li>
                    <li class="f-li"><a>Diagnosis</a></li>
                    <li class="f-li"><a>Types</a></li>
                    <li class="f-li"><a>Symptoms</a></li>
                    <li class="f-li"><a>Labs</a></li>
                    <li class="f-li"><a>Risk Factors & Causes</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3>Contact With Us</h3>
                <p><i class="icofont-email  border  rounded rounded-circle p-2 i-hover" style="border-color: #B28FAD "></i> abc@gmail.com</p>
                <h3 class='mb-2 mt-3'>Address</h3>
                <p><i class="icofont-user border  rounded rounded-circle p-2 i-hover"></i>1234 South Cicero Avenue Chicago,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; IL 60638, United States</p>

            </div>
        </div>
    </div>
    <script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>