{% extends 'base.html' %} {% load static %} {% block title %}
<title>Doctor Login </title>
{% endblock %} {% block content %}
<div class="container-fluid" style="background-color: rgba(255, 255, 255, 0.75);padding-top: 80px; padding-bottom: 80px">
    <div class="container">
        <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-5 mt-3 border shadow p-4 " style="background-color: #ec7220; text-align:center;">
                <img src="{% static 'Images/background41.jpg' %}" style="height: 350px; width:450px;">
            </div>
            <div class="col-md-5 mt-3 border shadow p-4" style="background-radius:2rem; background:#ec7220; text-align: center">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mb-4 text-center mt-2"><span><i class="icofont-doctor"></i></span>Doctor Log In</h3>
                    </div>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group mt-3 pt-4 mb-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="icofont-email"></i></span>
                            <input type="email" name="docem" id="e" placeholder="Enter Your Email ID" class="form-control">
                        </div>
                    </div>

                    <div class="form-group mb-3 mt-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="icofont-lock"></i></span>
                            <input type="password" placeholder="Enter Your Password" class="form-control ii" name="npwd">
                            <span class="input-group-text"><i class="icofont-eye"></i></span>
                        </div>
                    </div>
                    <a href="..." style="color: #262626; margin-left: 360px;">Forgot Password ?</a>

                    <br/><br/>

                    <center><button type="submit" name='save1' class="btn btn-dark">Login</button></center>
                </form>

            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
</div>


<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}