{% extends 'doctorF/docsidebar.html' %} {% load static %} {% block title %}
<title>Prostate Prediction</title>
{% endblock %} {% block content %}
<!--Page Content -->
<div class="container mt-1">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-2 border rounded shadow p-3" style="border-radius:2rem; background:linear-gradient(to top left, #ff8c3E, #f5efeb)">

            <h3 class="text-center mb-3 " style="color: #262626"><b>Prostate Cancer Prediction</b></h3>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group row p-1">
                    <label class="col-md-4 mt-2">Radius</label>
                    <div class="col-md-8">
                        <input type="tel" min="9" max="25" required autofocus class="form-control " placeholder="Add a number between 9-25!">
                    </div>
                </div>
                <div class="form-group row p-1 ">
                    <label class="col-md-4 mt-2 ">Texture</label>
                    <div class="col-md-8 ">
                        <input type="tel" min="0" max="34" required class="form-control" placeholder="Add a number between 11 - 27!">
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="col-md-4 mt-2">Perimeter</label>
                    <div class="col-md-8">
                        <input type="tel" min="50" max="180" required class="form-control" placeholder="Add a number between 52 - 172!">
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="col-md-4 mt-2">Area</label>
                    <div class="col-md-8">
                        <input type="tel" pattern="[0-8]{1}" required class="form-control" placeholder="Add a number between 202 - 1878!">
                    </div>
                </div>
                <div class="form-group row p-1 ">
                    <label class="col-md-4 mt-2 ">Smoothness</label>
                    <div class="col-md-8 ">
                        <input type="tel" min="0" max="34" required class="form-control" placeholder="Add a number between 0.07 - 0.14!">
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="col-md-4 mt-2">Compactness</label>
                    <div class="col-md-8">
                        <input type="tel" pattern="[1-10]{1,2}" required class="form-control" placeholder="Add a number between 0.04 - 0.34!">
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="col-md-4 mt-2">Symmetry</label>
                    <div class="col-md-8">
                        <input type="tel" pattern="[0-8]{1}" required class="form-control" placeholder="Add a number between 0.14 - 0.3!">
                    </div>
                </div>
                <div class="form-group row p-1">
                    <label class="col-md-4 mt-2">Fractal dimension</label>
                    <div class="col-md-8">
                        <input type="tel" min="0.05" max="0.1" required class="form-control" placeholder="Add a number between 0.05 - 0.1!">
                    </div>
                </div>
                <center><button type="submit" name='save1' class="btn btn-dark mt-4">Make Prediction</button></center>
            </form>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}